body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    background-image: url('https://keraloon.github.io/TestJim/Images/Screen.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-container {
    display: flex;
    gap: 20px;
    padding: 40px;
}

.main-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #004488;
    padding: 0;
    width: 160px;
    height: 160px;
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
    position: relative;
}

.button-content {
    position: relative;
    width: 100%;
    height: 100%;
}

.main-button img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.text-overlay {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    width: calc(100% - 20px);
}

.main-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 40px;
}

.button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #444444;
    padding: 0;
    width: 160px;
    height: 160px;
    border-radius: 10px;
    overflow: hidden;
    transition: background-color 0.3s;
}

.button img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.button:hover {
    background-color: #0056b3;
}

.playlist-container {
    display: flex;
    padding: 20px;
    height: calc(100vh - 40px);
    box-sizing: border-box;
}

.sidebar {
    width: 220px; 
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-right: 30px;
    border-right: 2px solid #ccc;
    position: fixed;
    top: 80px;
    left: 20px;
}


.theme-button {
    background-color: #444444;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

:root {
    --color1: #A08FCE;
    --color2: #D6BF6F;
    --color3: #7A9ACF;
    --color4: #D1B89A;
    --color5: #8AB3C9;
    --color6: #9EC3A0;
    --color7: #E4C37F;
    --color8: #A28CC7;
    --color9: #E1A65F;
    --color10: #A2D0A3;
    --color11: #2473DE;
    --color12: #A122C4;
}



.sidebar .theme-button:nth-child(2) {
    background-color: var(--color1);
}

.sidebar .theme-button:nth-child(3) {
    background-color: var(--color2);
}

.sidebar .theme-button:nth-child(4) {
    background-color: var(--color3);
}

.sidebar .theme-button:nth-child(5) {
    background-color: var(--color4);
}

.sidebar .theme-button:nth-child(6) {
    background-color: var(--color5);
}

.sidebar .theme-button:nth-child(7) {
    background-color: var(--color6);
}

.sidebar .theme-button:nth-child(8) {
    background-color: var(--color7);
}
.sidebar .theme-button:nth-child(9) {
    background-color: var(--color8);
}
.sidebar .theme-button:nth-child(10) {
    background-color: var(--color10);
}
.sidebar .theme-button:nth-child(11) {
    background-color: var(--color11);
}
.sidebar .theme-button:nth-child(12) {
    background-color: var(--color12);
}

.sidebar .theme-button:hover {
    background-color: #333366;
    transform: scale(1.05);
}

.test0-button {
    background-color: #444488;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.test0-button:hover {
    background-color: #0066cc;
}

.videos {
    flex: 1;
    margin-left: 100px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

#theme-title {
    font-family: 'Noto Sans', sans-serif; 
    color: white;
    font-size: 2rem;
    margin-bottom: 20px;
}

#video-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    justify-content: center;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
}

.scrollable {
    scrollbar-width: auto;
    scrollbar-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.2);
}

.video-item {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.video-item img {
    width: 260px;
    height: auto;
    border-radius: 5px;
}

.video-item .video-title {
    color: white;
    font-family: 'Noto Sans', sans-serif; 
    font-size: 0.85rem;
    margin-top: 10px;
    width: 260px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #0056b3;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #003d80;
}

.random-button {
    background-color: #884444;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: 15px;
}

.random-button:hover {
    background-color: #cc6666;
}

.test0-button:hover, .random-button:hover {
    background-color: #660066;
}
#stop-button {
    background-color: red;
    color: white;
    font-size: 14px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#stop-button:hover {
    background-color: darkred;
}

.insurgence-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #004488;
    color: white;
    font-weight: bold;
    font-size: 22px;
    padding: 0;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
    transition: background-color 0.3s;
    position: relative;
    text-align: center;
}

.insurgence-button:hover {
    background-color: #0056b3;
}


.insurgence-button:active {
    transform: scale(0.95);
}
#volume-slider {
  position: fixed;
  left: 10px; 
  top: 50%; 
  transform: translateY(-50%) rotate(180deg);
  width: 80px; 
  height: 25vh; 
  z-index: 1000; 
  writing-mode: vertical-rl; 
  -webkit-appearance: none;
  appearance: none;
  outline: none;

  background: transparent;
  border: none;
  border-radius: 50%;
  
}
